version: '3.8'

services:
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite:3.35.0
    container_name: poappidea-azurite
    hostname: azurite
    restart: always
    ports:
      - "10000:10000"  # Blob service
      - "10001:10001"  # Queue service
      - "10002:10002"  # Table service
    volumes:
      - azurite-data:/data
    environment:
      AZURITE_ACCOUNTS: "devaccount:devkey"

volumes:
  azurite-data:
    driver: local
